HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env

node_modules/
**/node_modules/

obter-refresh-token.sh
mile-stone.sh
temp_audio/**
**/temp_audio/
logs_backup/**
logs_backup/**
logs/**
data/**
data/t1000.db
src/main/resources/build-info.properties
build-info.properties
bump-version.sh
release.sh
bbd1bef8-ef47-4179-8cb9-88e53a5d8b97.mp4
media