TELEGRAM_BOT_TOKEN=...

TMDB_TOKEN=eyJh....
TMDB_API_KEY=a23...

STREAMING_AVAILABILITY_API_KEY=...

WATCHMODE_API_KEY=wm_c...

OPENAI_API_KEY=123

GROQ_API_KEY=gsk_...

TRANSCRIPTION_ENABLED=true|false

GOOGLE_CLIENT_ID=236....313-4.....9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-.....
ADMIN_ALLOWED_EMAILS=email1, email2[, ...]

AZURE_SPEECH_KEY=9Bw...
AZURE_SPEECH_REGION=brazilsouth

TELEGRAM_OWNER_ID=NNNNNNNNNNNN
TELEGRAM_BOT_USERNAME=nomedo_bot

WORLD_CUP_ENABLED=false|true
WORLDCUP_UPDATE_ENABLED=false|true
WORLDCUP_UPDATE_DESTINATION=/app/config/worldcup2026.json

BOT_ALLOWED_CHATS=-100NNNNNNNN,-100NNNNNNNNNN,-NNNNNNNN
PODCAST_PUBLISH_CHAT_ID=-100NNNNNNNNNN
DIGEST_ALLOWED_CHATS=-100NNNNNNNN,-100NNNNNNNNNN,-NNNNNNNN
GOOGLE_APPLICATION_CREDENTIALS=/app/config/gcp-service-account.json
